*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
}
#card{
    border-radius: 8px;
    border: 1px solid #ccc;
    height: 600px;
    width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#card h1{
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: center;
    color: #333;
}
.input-group{
    position: relative;
    margin: 8px 0;
}
.input-group input{
    width: 100%;
    padding: 16px 10px;
    font-size: 17px;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: none;
}
.input-group label{
    position: absolute;
    top: 18px;
    left: 12px;
   color: #777; 
   pointer-events: none;
   transition: 0.2s ease;
}
.input-group input:focus +label,
.input-group input:not(:placeholder-shown)+label{
    top: -8px;
    left: 10px;
    font-size: 13px;
    background: white;
    padding: 0 4px;
    color: #333;
    letter-spacing: 1px;
}
.btn1{
    width: 80%;
    padding: 16px;
    margin: 0 40px;
    font-size: 16px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 8px;
    color: whitesmoke;
    font-weight: 500;
    cursor: pointer;
    background-color: #0099ff;
}
p{
    text-align: center;
    font-size: 15px;
}
.btn2{
    padding: 15px;
    font-size: 15px;
    letter-spacing: 0.5px;
    border: 1px solid #aaa;
    border-radius: 10px;
    cursor: pointer;
    background-color: #333;
    color: #fafafa;
}