*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    padding: 10px 30px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.brandname{
    font-weight: 300;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}
.btns{
    display: flex;
    gap: 20px;
}
.btn1,
.btn2{
    width: 100px;
    padding:8px;
    border:none;
    outline: none;
    color: black;
    background-color: rgb(181, 181, 247);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing:0.5px;
}
.btn1:hover,
.btn2:hover{
    background-color: rgb(144, 144, 253);
    color: white;
}
.menu-btn{
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}
.short{
    display: none;
}
.card01{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-group{
    position: relative;
    width: 70%;
    margin-top: 30px;
    display: flex;
    
}
.input-search{
    width: 100%;
    padding: 16px 10px;
    border: 1px solid #333;
    outline: none;
    border-right: none;
}
.input-label{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 6px;
    font-size: 1.1rem;
    color: #333;
    background: white;
    pointer-events: none;
    transition: 0.2s ease;
}
.input-search:focus+.input-label,
.input-search:not(:placeholder-shown) + .input-label{
    font-size: 0.75rem;
    color: #555;
    top: 0;
    transform: translateY(-50%);
}
.searchBtn{
    width: 150px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: 1px solid #333;
    letter-spacing: 1px;
    border-left: none;
    background: none;
}
.searchBtn:hover{
    background: lightgray;
    column-rule: black;
}
.card02{
    /* border: 1px solid red; */
    height: 775px;
    margin-top: 30px;
    display: flex;
    width: 100%;
}
.left-side{
    /* border: 1px solid black; */
    height: 775px;
    width: 30%;
}
.right-side{
    height: 775px;
    /* border: 1px solid pink; */
    width: 70%;
}
.date-time{
    margin-top: 10px;
    color: black;
    font-size: 1rem;
    letter-spacing: 0.5px;
}
.temp-degrees{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
@media (max-width:768px){
    .brandname{
        font-size: 1.2rem;
        line-height: 1.4;
    }
    .navbar{
        padding: 10px 0;
    }
    .full{
        display: none;
    }
    .short{
        display: inline;
    }
    .menu-btn{
        display: block;
    }
    .btns{
        position: absolute;
        top: 60px;
        right: 20px;
        flex-direction: column;
        background: #fff;
        padding: 15px;
        border-radius: 10px;
        display: none;
        box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    }
    .btns.active{
        display: flex;
    }
}