*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    padding: 10px 30px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brandname{
    font-weight: 300;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}
.btns{
    display: flex;
    gap: 20px;
}
.btn1,
.btn2{
    width: 100px;
    padding:8px;
    border: none;
    outline: none;
    border-radius: 18px;
    color: white;
    background-color: #333;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing:0.5px;
}
.menu-btn{
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}
.short{
    display: none;
}
@media (max-width:768px){
    .btns{
        display: none;
    }
    .brandname{
        font-size: 1.2rem;
        line-height: 1.4;
    }
    .navbar{
        padding: 10px 0;
    }
    .full{
        display: none;
    }
    .short{
        display: inline;
    }
    .menu-btn{
        display: block;
    }
    .btns{
        position: absolute;
        top: 60px;
        right: 20px;
        flex-direction: column;
        background: #fff;
        padding: 15px;
        border-radius: 10px;
        display: none;
    }
    .btns.active{
        display: flex;
    }
}